<div class= "container">

  <h1 class= "main-title">New arrivals!</h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @products.each_with_index do |product, i| %>
        <li data-target="#carouselExampleIndicators" data-slide-to= "<%= i %>", class="<%='active' if i == 0 %>"></li>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <% cache(cache_key_for_products) do %>
        <% @products.each do |product| %>
          <div class="carousel-item <%= "active" if product == @products.first %>">
            <%= image_tag(product.image_url, class: "img-fluid prod-image carousel-img") unless product.image_url.nil? %>
            <div class="carousel-caption d-none d-md-block">
              <%= product.name %>
            </div>
          </div>
        <% end %> <!-- carousel products loop -->
      <% end %> <!-- end cache -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr>
  <h1 class= "main-title">From our bike workshop</h1>
  <div class= "news-text">
  <p>Lorem ipsum dolor amet sriracha irure art party banjo, tilde williamsburg aliquip twee cloud bread food truck ullamco messenger bag bicycle rights la croix ut. Nulla tbh actually flannel. Copper mug asymmetrical snackwave crucifix trust fund pinterest. Offal microdosing est, lorem fingerstache jean shorts actually pug 3 wolf moon. Art party culpa iPhone biodiesel activated charcoal paleo eiusmod kogi dolore flannel aliqua sint la croix freegan.</p>
  <p>Voluptate est dolore do, elit in ullamco vape. Butcher trust fund semiotics 8-bit glossier, yuccie tumblr farm-to-table artisan. Chartreuse church-key la croix culpa, est yr heirloom cupidatat shaman man braid cliche. Proident dolor microdosing nostrud jean shorts la croix asymmetrical gochujang dolore do. VHS etsy PBR&B qui hella.</p>
  <p>Marfa single-origin coffee tote bag brooklyn. Cloud bread mustache artisan crucifix, 3 wolf moon ramps intelligentsia sriracha tilde next level hell of. Art party locavore tacos, officia live-edge ad pok pok portland. Normcore non magna roof party, proident aliqua gentrify you probably haven't heard of them readymade in glossier brunch small batch.</p>
  <p>Tilde tumeric quis ipsum etsy est mumblecore. Cred quis poke semiotics, coloring book yuccie vegan photo booth migas brooklyn 8-bit nostrud esse sustainable enim. Qui bespoke blog, hashtag aliqua authentic next level. In man bun vexillologist godard pitchfork taxidermy cillum id subway tile mlkshk jianbing. Mixtape incididunt lumbersexual tilde tote bag. Small batch DIY ennui in enamel pin roof party, disrupt next level health goth ramps listicle lomo flannel keytar.</p>
  <p>Shoreditch pok pok sustainable vice chillwave. Vaporware humblebrag before they sold out unicorn exercitation. Esse umami forage taiyaki ut cupidatat pinterest crucifix mumblecore fam pitchfork trust fund beard. Man braid paleo mumblecore austin DIY af pour-over quinoa cillum lomo.</p>
</div>
</div>
