<div class="container users-containers">

  <h1 class= "devise-titles">Users</h1>

  <% if false %>
  <% if notice %>
    <!-- <p id="notice" class= "alert alert-secondary"><%= notice %></p> -->
  <% end %>
  <% end %>
  
  <table class= "table">
    <thead>
      <tr>
        <th scope= "col" class= "user-info user-info-table">First name</th>
        <th scope= "col" class= "user-info user-info-table">Last name</th>
        <th scope= "col" class= "user-info user-info-table">E-mail</th>
        <th scope= "col" class= "user-info user-info-table">Options</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr scope= "row">
          <td class= "user-info-table"><%= user.first_name %></td>
          <td class= "user-info-table"><%= user.last_name %></td>
          <td class= "user-info-table"><%= user.email %></td>
          <td class= "user-info-table"><%= link_to 'Show', user %></td>
          <td class= "user-info-table"><%= link_to 'Edit', edit_user_path(user) %></td>
          <td class= "user-info-table"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>
  <p id= "new-user-btn"><%= link_to 'Create new User', new_user_path %></p>
</div>
