<div class="container users-containers">
  <h1 class= "devise-titles">User info</h1>

  <div class= "devise-containers users-box">
    <% if false %>
      <% if notice %>
        <!-- <p id="notice" class= "alert alert-secondary"><%= notice %></p> -->
        <% end %>
    <% end %>
    
    <p class= "user-info">
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p class= "user-info">
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p class= "user-info">
      <strong>E-mail address: </strong>
      <%= @user.email %>
    </p>

  </div>

  <p> <%= link_to 'Edit', edit_user_path(@user)%> |
  <%= link_to 'Back', users_path %> </p>

</div>
