<div class="container">
  <h1 class= "order-title"> Your orders: </h1>
  <hr>
  <div>
    <% cache @order do %>

      <% @orders.each do |order| %>
        <div class= "row">
          <div class= "col-10 order-col">
            <p class= "order-prod-info">Order nr: </p><%= order.id %><br>
            <p class= "order-prod-info">Name: </p><%= order.product&.name %><br>
            <p class= "order-prod-info">Description: </p><%= order.product&.description %><br>
            <strong class= "order-prod-info">Price: € <%= order.product&.price %></strong><br>
            <i class= "order-prod-info order-link"> Click <%= link_to '*here*', order_path(order) %> for all details </i>
          </div>
          <div class="col-2 order-image">
            <%= link_to image_tag(order.product&.image_url, class: "img-fluid prod-image card-img-top img-thumbnail") if order.product&.image_url.present? %>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
