<div class="card prod-card">
  <%= image_tag(product.image_url, class: "img-fluid prod-image card-img-top") if product.image_url %>
  <div class="card-body">
    <h5><%= product.name %></h5>
    <p>Colour: <%= product.colour %></p>
    <p>Description: <%= product.description %></p>
    <p>Price (€): <%= product.price %></p>
  </div><!-- card body -->
  <div class="card-footer">
    <div class="prod-edit-btn">
      <%= link_to 'Show', product_path(product), :class=> "td-btn" %>
      <%= link_to 'Edit', edit_product_path(product), :class=> "td-btn" %>
      <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "td-btn" %>
    </div><!-- prod-edit-btn -->
  </div><!-- card-footer -->

</div><!-- card -->
