<!DOCTYPE html>
<html>
  <head>
    <title>MadeUpBikes Berlin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>
    <nav class="navbar main-nav navbar-light">

      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <h3 class="main-nav-header">Menu</h3>
        </button>
      </div>

      <ul class="navbar-nav navbar-right">
        <li class= "user-logo">
          <a href="#"><i class="fas fa-user main-nav-item"></i></a></li>
        <% if user_signed_in? %>
        <li class="log-nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "main-nav-item") %>
        </li>
        <% else %>
        <li class="log-nav-item">
          <%=link_to('Login/Sign up', new_user_session_path, class: "main-nav-item") %>
        </li>
        <% end %>
      </ul>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto main-nav-menu">
          <li class="main-nav-item active" id="first-nav-item"><%= link_to "Home", root_path, :class=> "main-nav-item" %></li>
          <li><strong><%= link_to "Check our amazing bikes!", products_path, :class=> "main-nav-item" %></strong></li>
          <li><%= link_to "News", simple_pages_landing_page_path, :class=> "main-nav-item" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Orders", orders_path, :class=> "main-nav-item" %></li>
            <% end %>
          <li><%= link_to "Contact", simple_pages_contact_path, :class=> "main-nav-item" %></li>
          <li>
            <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
              <%= form.label :q, 'Search for: ', :id=> "nav-search-label" %>
              <%= form.text_field :q, :id=> 'q', value: params[:q] %>
              <%= form.submit 'Search', :id=> "search-btn" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <% if notice %>
      <p class="alert main-alert alert-secondary main-alert" role="alert"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert main-alert alert-secondary" role="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="site-footer">
      <a href="https://github.com/RMonteR" target= "_blank"><i class="fab fa-github"></i></a>    &copy; 2019 MadeUpBikes Berlin
    </footer>
<!------------------ BOOTSTRAP CORE JS -------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </body>
</html>
